.letter-container {
  position: relative;
}

.div-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 300px;
  height: 150px;
  text-align: center;
}

.address-text {
  font-size: 16px;
}

.medium-text {
  font-size: 18px;
}

.larger-text {
  font-size: 24px;
}

.letter-model h1 {
  font-size: 30px;
}

.letter-model p {
  color: #000 !important;
  margin-bottom: 0 !important;
}

.letter-header {
  border-bottom: 2px dotted rgb(77, 76, 76);
}

.disclaimer {
  font-size: small;
}

.signature {
  width: 120px;
  height: 80px;
  color: #a020f0;
}
