* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Data card component */

.card-container {
  width: 160px;
  background: #fff;
  display: flex;
  align-items: center;
  margin-top: 1px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(110, 110, 110, 0.781);
  justify-content: center;
  z-index: 1;
}

.amount {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  color: #333;
}

.data-type {
  color: #555;
  font-weight: 500;
}
