.errorMsg {
  max-width: 350px;
  color: #f21e08;
  padding: 2px 0;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
}

.form-control.input-error {
  border: 2px solid #f21e08;
}

.input-form {
  width: 60%;
  margin: 3rem auto;
}

.next-btn {
  /* margin-left: auto; */
}