.errorMsg {
  max-width: 350px;
  color: #f21e08;
  padding: 2px 0;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
}

.form-control.input-error {
  border: 2px solid #f21e08;
}

.input-form {
  width: 90%;
  margin: 3rem auto;
}

.form-container {
  background: red;
  border-radius: 10px;
  margin-top: 4.8rem;
  margin-bottom: 1rem;
  padding: 16px;
  background: #fff;
}