.details p {
  font-size: large;
  padding-bottom: 0;
  margin-bottom: 0;
}

.details__list-bold {
  padding-left: 3rem;
  font-style: italic;
  font-weight: bold;
  font-size: medium;
}

.details__sub-title {
  font-weight: bold;
}

.details-table {
  border: 2px solid #000;
  font-size: medium;
}

.details-th {
  border: 2px solid #000;
  padding: 0.4rem;
}

.details-tr {
  border: 1px solid #000;
}

.details-td {
  border: 1px solid #000;
  padding: 0.2rem;
}

.block__span {
  display: block;
}
